version: '3'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - REQUEST_PROXY=${REQUEST_PROXY:-}
    volumes:
      - ./:/app
    restart: unless-stopped
